.container {
  background-image: radial-gradient(#e7f7ff, #ffdaac);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 10em auto;
}

.section-text {
  font-size: 1em;
 


}

.section-terning {
  font-size: 5em
}

.button_one{

}
#gameboard{

  
}


.section-regler {
  font-size: 1em;
  font: 100;
}

